<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrello</title>
    <script src="../../javascripts/logout.js" defer></script>
</head>
<body>
<%-include('navbar')%>
<div class="container main-content">
    <div class="text-center">
        <h1>Carrello</h1>

        <% if (cars.length > 0) { %>
            <a href="/cars/checkout" class="btn button">Checkout</a>
            <div class="row">
                <% cars.forEach(function(car) { %>
                    <div class="col-md-3 my-2 mx-4">
                        <div class="card mb-5" onclick="location.href='<%= car.link %>';">
                            <img src="<%= car.image %>" class="card-image-top" alt="Immagine auto">
                            <div class="card-body">
                                <h5 class="card-title"><%= car.marca %> <%= car.modello %></h5>
                                <p class="card-text"><%= car.prezzo %>€</p>
                                <a href="/cars/cart/remove/<%= car.id %>" class="btn btn-danger">Rimuovi dal Carrello</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>Nessuna auto nel carrello.</p>
        <% } %>
    </div>
</div>
</body>
</html>
