<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodi di pagamento</title>
    <script src="../../javascripts/logout.js" defer></script>
</head>
<body>
<%-include('navbar')%>
<div class="container main-content">
    <div class="text-center">
        <h1>Metodi di pagamento</h1>

        <a href="/user/carteform" class="btn button">Aggiungi metodo di pagamento</a>

        <% if (hasCards) { %>
            <div class="row">
                <% cards.forEach(function(card) { %>
                    <div class="col-md-3 my-2 mx-4">
                        <div class="card carte-card mb-5">
                            <div class="card-body">
                                <h5 class="card-title"><%= card.nome %> <%= card.cognome %></h5>
                                <p class="card-text"><%=card.cardNumber %></p>
                                <a href="/cards/remove/<%= card.cardid %>" class="btn btn-danger">Rimuovi metodo di pagamento</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>Nessuna metodo di pagamento inserito.</p>
        <% } %>
    </div>
</div>
</body>
</html>
