<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= car.marca %> <%= car.modello %> - Dettagli Auto</title>
    <script src="../../javascripts/logout.js" defer></script>
</head>
<body>
<%- include('navbar') %>

<div class="container main-content">
    <div class="text-center car-details-container">
        <h1 class="display-4"><%= car.marca %> <%= car.modello %></h1>
        <div class="car-image-container">
            <img class="car-image img-fluid" src="<%= car.image %>" alt="<%= car.marca %> <%= car.modello %>">
        </div>
        <div class="details mt-4">
            <h2 class="mb-3">Dettagli Auto</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">Prezzo:</p>
                    <p class="h4"><%= car.prezzo %>€</p>
                    <a href="/cars/favourites/add/<%= car.id %>" class="btn btn-icon"><i class="fas fa-star"></i>Aggiungi ai preferiti</a><br>
                    <a href="/cars/cart/add/<%= car.id %>" class="btn btn-warning"><i class="fas fa-shopping-cart"></i>Aggiungi al carrello</a>
                </div>
                <div class="col-md-6">
                    <p class="lead">Descrizione:</p>
                    <p><%= car.descrizione %></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
