<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli Auto</title>
    <script src="../../javascripts/logout.js" defer></script>
</head>
<body>
<%-include('navbar')%>

<div class="container">
    <div class="text-center car-details-container">
        <h1>Dettagli Auto</h1>
        <div class="car-image-container">
            <img class="car-image" src="<%= car.image %>" alt="Immagine auto">
        </div>
        <h2><%= car.marca %> <%= car.modello %></h2>
        <p>Prezzo: <%= car.prezzo %>€</p>
        <p>Descrizione: <%= car.descrizione %></p>
    </div>
</div>
</body>
</html>
