<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordini</title>
    <script src="../../javascripts/logout.js" defer></script>
</head>
<body>
<%-include('navbar')%>
<div class="container main-content">
    <div class="text-center">
        <h1>Ordini</h1>

        <% if (orders.length > 0) { %>
            <div class="row">
                <% orders.forEach(function(order) { %>
                    <div class="col-md-3 my-2 mx-4">
                        <div class="card mb-5">
                            <img src="<%= order.image %>" class="card-image-top" alt="Immagine auto">
                            <div class="card-body">
                                <h5 class="card-title"><%= order.marca %> <%= order.modello %></h5>
                                <p class="card-text"><%= order.prezzo %>€</p>
                                <p class="card-text"><%=order.cardNumber%></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>Nessun ordine.</p>
        <% } %>
    </div>
</div>
</body>
</html>
